<!DOCTYPE html>
<html lang="en">
<head>
  <title>9fellas</title>
  <meta name="description" content="These instances are gettin' down">
  <meta name="author" content="Matt Reider">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="icon" type="static/images/png" href="images/favicon.png">

  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript">
    function loadUrl(mypage)
    {
      $.get(mypage);
    }
  </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <p>&nbsp;</p>
        <div id="result">?</div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  function instances(){
    {% if request.args['a'] == 'dashboard' %}
    $.get( "/dashboard", function( data ) {
    {% else  %}
    $.get( "instances", function( data ) {
    {% endif %}
      $( "#result" ).empty();
      $( "#result" ).html( data );
    });
  }
  var t=setInterval(instances,1000);
  </script>
</body>
</html>
